/* Basic */
#root {
    height: 100%!important;
}

.logo {
    float: left;
    color: #fff;
    width: 10rem;
}

.menu {
    float: right;
}
/* !Basic*/

/* Layout */
.page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    padding: 1rem;
    background-color: #282c34;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.content {
    flex: 1 1 auto;
    min-height: auto!important;
    padding: 1.5rem 2rem;
    background-color: #f0f2f5;
}

.site-layout-content {
    padding: 1.5rem;
    background-color: #fff;
}

.footer {
    flex: 0 1 40px;
    text-align: center;
    color: #000000d9;
    font-size: 0.8rem;
    background: #f0f2f5;
}
/* !Layout */

/* home page */
.card-addTodoForm {
    margin-bottom: 1rem!important;
}
/* !home page */